*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
    margin:0;
}

body {
    background: #000;
    color:#fff;
}

h1 {
    font-size: 25vw;
    text-shadow: 1vw 0 red;
    letter-spacing: 1vw;
}
h1,h2 {
    text-align: center;
}
h1::selection, h2::selection {
    background: #ff7139;
}
h2 {
    font-size: 8.25vw;
    background-color:red;
    margin-block: 1.5vmax;
    text-shadow: .3vw 0 #000;
}
span {
    color: #000;
}